WebApi/obj/Debug/netcoreapp3.1/WebApi.csprojAssemblyReference.cache
WebApi/obj/Debug/netcoreapp3.1/WebApi.assets.cache
WebApi/obj/Debug/netcoreapp3.1/WebApi.csproj.CoreCompileInputs.cache
WebApi/obj/Debug/netcoreapp3.1/WebApi.csproj.FileListAbsolute.txt
WebApi/obj/Debug/netcoreapp3.1/WebApi.dll
WebApi/obj/Debug/netcoreapp3.1/WebApi.pdb
*.suo
*.dll
*.pdb
